
<ion-content fullscreen padding>
    

      <div text-center class="espacio1">
            <img src="/assets/tarea1.png"/>
           
              
             <h2>Bienvenido a <b>Task-Control</b></h2>
            
                <p>La aplicacion <b>Task-Control</b> es una herramienta de gran utilidad para llevar el control de tus tareas.</p>
            
              </div>
          <ion-card (click)="irtareas()">
              <ion-card-header>
                
                <ion-card-title> <h2>Tareas <b> Recientes</b></h2></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>La aplicacion <b>Task-Control</b> es una herramienta de gran utilidad para llevar el control de tus tareas.</p>
              </ion-card-content>
            </ion-card>

            <ion-card (click)="irreunion()">
            <ion-card-header>
                
                <ion-card-title> <h2>Reuniones <b> Vigentes</b></h2></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>La aplicacion <b>Task-Control</b> es una herramienta de gran utilidad para llevar el control de tus tareas.</p>
              </ion-card-content>
            </ion-card>
              <ion-card>
            <ion-card-header (click)="irdashboard()">
                
                <ion-card-title> <h2>Avances <b> Status</b></h2></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <img src="/assets/tarea4.png"/>
              </ion-card-content>
            </ion-card>

      </ion-content>