
<ion-content fullscreen>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div class="fondo5" padding>  
   
  <ion-card (click)="irdashboard()" class="colores">
    <ion-card-header class="fondo4">
      <ion-card-title>
        <h2 text-center>Avances de <b> Tareas</b></h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3 text-center> <b>Tareas Laborales </b></h3>
      <canvas #doughnutCanvas></canvas>
      <p text-center> <b>Terminadas:</b> {{ (datosdash.Total_Terminada * 100) / datosdash.Total_Responsables | number:'1.1-2'}}% </p>
      <p text-center> <b>Pendientes:</b> {{ (datosdash.Total_Pendiente * 100) / datosdash.Total_Responsables | number:'1.1-2'}}% </p>
      <p text-center> <b>Vencidas:</b> {{ (datosdash.Total_Vencida * 100) / datosdash.Total_Responsables | number:'1.1-2'}}% </p>
          </ion-card-content>
          </ion-card>
          <ion-card (click)="irtareas()">
            <ion-card-header class="fondo1">
              <ion-card-title>
                <h2>Tareas Laborales <b> Pendientes</b></h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let  laboral of tareasreci">
                <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                <p>
                  {{laboral.tarea.Nombre}}
                </p>
                <ion-note slot="end">
                  <p><b>Limite:</b>{{ laboral.tarea.FechaFin }} </p>
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card (click)="irreunion()">
            <ion-card-header class="fondo2">
              <ion-card-title>
                <h2>Reuniones <b> Vigentes</b></h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let  reunion of reunionvigentes">
                <ion-icon slot="start" name="paper-plane"></ion-icon>
                <p>
                  {{reunion.reunion.Tema}}
                </p>
                <ion-note slot="end">
                  <p><b>Fecha:</b>{{ reunion.reunion.FechadeReunion }} </p>
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card (click)="irtareasp()">
            <ion-card-header class="fondo3">
              <ion-card-title>
                <h2>Tareas <b> Personales</b></h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let  personal of tareasp">
                <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                <p>
                  {{personal.Nombre}}
                </p>
                <ion-note slot="end">
                  <p><b>Limite:</b>{{ personal.FechaFin }} </p>
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
          </div>
          </ion-content>