<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="4" class="centrar">
        <ion-title> Mis Tareas</ion-title>
      </ion-col>
      <ion-col size="8">
        <ion-searchbar mode="ios" animated showCancelButton="focus" cancelButtonText="X" (ionChange)="buscar($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div>
  <ion-item>
    <ion-label color="medium">Estado</ion-label>
    <ion-select placeholder="Todas" [(ngModel)]="tipousuario" okText="Ok" cancelText="Cancelar" name="estadotarea"
      (ionChange)="segmentChanged($event)" value="1">
      <ion-select-option value="1">Todas</ion-select-option>
      <ion-select-option value="2">Pendiente</ion-select-option>
      <ion-select-option value="3">Terminada</ion-select-option>
      <ion-select-option value="4">Vencida</ion-select-option>
    </ion-select>
  </ion-item>
</div>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="form">
    <h2> Tareas Personales </h2>
  </div>
  <ion-list *ngFor="let tp of postPvdr.Globaltpersonal| filtro:textoBuscar : 'Nombre'">
    <ion-item-sliding>
    <ion-item class="bord" (click)="mostrartareap(tp.Id_tarea)">
      <ion-icon slot="start" name="checkbox-outline"></ion-icon>
      
        <ion-text color="dark">
          <p class="letra1">{{tp.Nombre}}</p>
          <p class="letra"> <b> Fecha Fin: </b>{{ tp.FechaFin }} </p>
        </ion-text>
      <ion-note class="tamanio" slot="end" color="success">
        {{ tp.Estado_Tarea }} 
      </ion-note>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option expandable (click)="confirmarEl(tp.Id_tarea)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  
   

    
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal(id2)">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>