.letra {
    font-size: smaller;
    line-height: 13px;
    }

 .letra1 {
    font-size: 15px; 
    margin: 0px 0px 15px;
    padding: 12px 0px 0px 0px;
 }   

 .color{
     --background:#f6fafa52;
 }
ion-list{
    margin: 0px 0px;
}

ion-icon{
    font-size: 10px;
    color:blue;
}