div.iner
.center {
    text-align: center;
    margin: 0px 0px;
   padding: 16px 16px 0px 16px;
  }

  .bordes {
   //  --border-inline-color: #70cde9;
     border: 0px !important;
     bottom: 0px;
      border {
         background: #ffffff;
      }
          margin-bottom: unset;
  }
  .icon  {     
    width:200% !important;  
    height : 200% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    overflow: hidden !important;
   // border: 2px solid #12abda !important;
    //padding: .5em;
    }
    .marco {
        padding: 25px 10px 10px;
        height: 160px;
        color: rgb(22, 21, 21);
        font-size: 10px;
    
      }

      .nombre {
        padding-left: 0px;
        padding-right: 0px;
        font-size: small;
        padding: 0px 0px 0px 0px;
        color: white;
    }

    .nombre1 {
    
     margin-bottom: 0px;
     margin-top: 0px;
     color: #292a0c;
    }

    .nombre2 {
      margin-bottom: 0px;
     margin-top: 0px;
     color: #3a3a3a; 
    }
  
    .fondo{
      //  background-color: #bce9f8;
        background-size: cover;
        width:100%;
        font-size: 14px;
        ion-icon{
          color: #4a5892 !important;
        }
        
        
      ion-item {
        --border-color:  #ffffff;

      } 
        padding {
            color: #ffffff;
        }
        ion-toolbar {
            background: #e7ebef;
        }
    }

    .icon1 {
        padding: 0px 0px 0px 10px;
        font-size: 20px;
   
  }
   //definir el tamano del modal
   .my-custom-modal-css .modal-wrapper {
    height: 80%;
    top: 10%;
    width: 90%;
    position: absolute; 
    display: block;  
 }

 .color {
   background: #ffffff;
   
 }

 ion-list{
   font-size: 14px;
   b{
     font-size: 14px;
   }
   p{
     font-size: 14px;
   }
 }

 .texcolor{
color: #586dc2;
 }