.current {
    position: absolute;
    margin: 24% 15% 0% 42%;
    font-weight: 400;
    font-size: 20px;
    color: #362f8c;
    
}

.ronda {
    color: #362f8c;
   
    round-progress{
        margin: 5% 25% 0% 20%;
    }
}

.colorfondo{
    background: #f2fbf7;
    color: #362f8c ;
    background-size: cover;
}

.ronda1 {
    color: #362f8c;
    round-progress{
        margin: 5% 25% 0% 25%;
    } 
}
.current1 {
    position: absolute;
    margin: 25% 25% 10% 45%;
    font-weight: 400;
    font-size: 2rem;
  
}
 
p{
    margin: 10px 0px 10px 0px;
    font-size: 15px;
}



.esp{
    padding: 20px 0px 0px 0px;
}
.graficas{

    font-size: 15px;
    p{
        font-size: 13px;
    }
}

.ubicacion{
    p{
        margin: 0px 0px;
    }

}