ion-progress-bar{
    height: 10px;
    --background:#4ce18e;
    --buffer-background: #4ce18e;
}

.ronda {
    color: #362f8c;
   
    round-progress{
        margin: 5% 25% 0% 20%;
     
    }
}

.text{
    font-size: 14px;
}