<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Archivos</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <ion-searchbar mode="ios" animated showCancelButton="always" (ionChange)="buscar($event)"></ion-searchbar>
</div>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let doc of archivos|filtro:textoBuscar : 'Nombre'">
        <img src="/assets/archivo.png" />
        <!--p> {{ doc.Ruta}} </p-->
        <ion-text>
          <p> {{doc.Descripcion}} </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
