.textor {
    text-align: center;
}
.alertDanger{
    background-color: white;
    text-align: center;
    color: rgb(0, 0, 0);
    button{
        color: rgb(17, 163, 73);
    }
}
 .fondo {
    background-color: rgba(143, 194, 224, 0.979);

 }
.tama {
    color: rgb(80, 81, 82);
    font-size: 85%;

    
   
}


.fuent {
   font-size: 15px;
   ion-select{
    max-width:100%;
   }
   ion-input{
    align-items: center;
   }
}

.colorb{
    background-color: #0093d9;
}



.margenes {
    ion-input{
      padding: 0px 0px 0px 0px;
    }
    display: block;
    font-size: 14px;
    color: darkgray;
    padding: 0px 0px 0px 0px;
    ion-item{   padding: 0px 0px 0px 0px; }
  
}